/* styles for file LEC3_Semi */

@namespace context url('http://www.contextgarden.net/context/export') ;


document,
div.document {
    font-size  : 12pt !important ;
    max-width  : 50em !important ;
    text-align : justify !important ;
    hyphens    : inherited !important ;
}